
$btnfont:1.5rem;
$pcfont: 1.1rem;
$tabfont: .9rem;
$mobfont: .75rem;
$colorMain:orange;
$colorGreyPale:#f4f5f7;
$colorGreyStrong:#eaeaea;
$marginInline:5rem;
$colorHover:rgba(218, 151, 19, 0.149);
$fontH2:2rem;
$fontH2mob:1.5rem;

header {
    position: relative;
}

.back-btn {
    position: absolute;
    top: 1rem !important;
    left: 2.2rem;
    z-index: 2;
    display: block;
    a, i {
    text-decoration: none !important;
    color: blue;
    }
}
   .button-prime-no-bg {
    background: $colorMain;

   }

header {
    display: flex;
    position: relative;
    justify-content: center;
    background: white;
    height: 70px;
    img {
        width: 100px;
    }
    a{
        position: absolute;
        left: 30px;
        top: 40px;
        color: blue;
        }
}

body {
    background: rgba(219, 218, 218, 0.5);;
    // overflow: hidden;
}
main {
    
    display: flex;
    justify-content: center;
     height: calc(100vh - 200px);
    align-items: center;
    margin: 2rem 0 !important;
 
}
section {
    align-items: center;
    flex-direction: column;
    text-align: left;
    background: white;
    padding: 50px;
    
    .login {
        margin-bottom: 30px;
    }
    article {
       
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        width: 350px;
    }

    .networks {
        flex-direction: row;
        justify-content: center;
        
        a {
            padding: 10px;

            &:hover {
                scale: 1.1;
            }
        }
    }
}
p {
    text-align: center;
    margin: 10px 0;
    position: relative;
    &::before {
        border: 1px solid  rgba(0, 0, 0, 0.166);
     
        position: absolute;
        content: "";
        right: 55%;
        left: 0;
        top: 6px;
        }
        &::after {
            border: 1px solid  rgba(0, 0, 0, 0.166);
          
            position: absolute;
            content: "";
            left: 55%;
            right: 0;
            top: 6px;
            }

}
form {
    display: flex;
    flex-direction: column;
    margin-top: 10px ;
    
    position: relative;
    input {
        font-family: Roboto,"system-ui",-apple-system,sans-serif;
        -webkit-box-shadow: inset 0 0 0 0.0625rem hsl(213,10.6%,59.2%);
        box-shadow: inset 0 0 0 0.0625rem #8c96a2;
        border: none;
        background-color: #fff;
        border-radius: 4px;
    
        font-weight: 400;
        font-size: 1rem;
        padding-block: 0.75rem;
        -webkit-padding-start: 0.75rem;
        padding-inline-start: 0.75rem;
        -webkit-padding-end: 2.25rem;
        padding-inline-end: 2.25rem;
        color: #001018;
        min-block-size: 3rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-transition: -webkit-box-shadow .2s ease-out;
        transition: -webkit-box-shadow .2s ease-out;
        transition: box-shadow .2s ease-out;
        transition: box-shadow .2s ease-out,-webkit-box-shadow .2s ease-out;
}
    label {
        position: absolute;
        top: -5px;
    }
.submit {
    min-width: 100%;
    margin-top: 20px;
}
}


footer {
    display: flex;
    position: relative;
    background: white;
    height: 100px !important;
}

.create-accc {
  
    text-align: center;

    button {
    margin-top: 15px;
    background: none;
    border:1px solid $colorMain !important;
    min-width: 100%;

    &:hover {
        background: #faa3004a;

    }
    }
}

@media (max-width:840px) {
    header {
        height: 30px;
    }
    body {
        background: transparent;
    }
    main {
        display: block;
        height: 100vh;
    }
    .create-accc,.networks {
        // margin: 0;
        width: 100%;
    }
    .login {
        width: 100%;
    }
    footer {
        display: none !important;
    }
}


@media (max-height:560px) {
    footer {

        display: none;
    }
    section {
        //  padding: 0;
        z-index: 4;
    }
    .create-accc,.networks {
        margin: 0;
        min-width: 100%;
    }
    .login {
        width: 100%;
    }
    main {
        overflow-y: scroll;
        overflow-x: hidden;
        display: block;
    }
    body {
        // margin-top: 10rem;
        margin: 0;
        background: transparent;
       
    }
}